.traffic_total {
    column-count: 2;
}

.traffic_total > .item > .total-rx {
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #0a67fb;
}

.traffic_total > .item > .total-tx {
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #ff477d;
}